In [1]:
#get the needed libraries
import pandas as pd

In [2]:
#variable declaration
fname = "6591337447542dat_August.txt"

#get the dataframe from the file
data = pd.read_csv(fname, sep="\s+", na_values=["*"*i for i in range(0,7)])

In [3]:
data

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,29740,99999,201708010000,238.0,5.0,NaN,722.0,SCT,NaN,NaN,...,1012.5,NaN,1006.1,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,29740,99999,201708010020,210.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29740,99999,201708010050,210.0,5.0,NaN,722.0,CLR,NaN,NaN,...,NaN,29.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29740,99999,201708010100,230.0,5.0,NaN,722.0,CLR,NaN,NaN,...,1012.9,NaN,1006.4,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,29740,99999,201708010120,220.0,5.0,NaN,722.0,CLR,NaN,NaN,...,NaN,29.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,29740,99999,201708010150,250.0,3.0,NaN,722.0,CLR,NaN,NaN,...,NaN,29.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,29740,99999,201708010200,261.0,4.0,NaN,722.0,CLR,NaN,NaN,...,1013.2,NaN,1006.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,29740,99999,201708010220,240.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,29740,99999,201708010250,990.0,3.0,NaN,722.0,CLR,NaN,NaN,...,NaN,29.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,29740,99999,201708010300,247.0,6.0,NaN,722.0,SCT,NaN,NaN,...,1013.7,NaN,1007.3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,29740,99999,201708010320,240.0,5.0,NaN,722.0,CLR,NaN,NaN,...,NaN,29.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,29740,99999,201708010350,230.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,29740,99999,201708010400,237.0,8.0,NaN,722.0,CLR,NaN,NaN,...,1014.2,NaN,1007.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,29740,99999,201708010420,220.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,29740,99999,201708010450,230.0,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,29740,99999,201708010500,239.0,9.0,15.0,722.0,CLR,NaN,NaN,...,1014.4,NaN,1008.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,29740,99999,201708010520,230.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,29740,99999,201708010550,230.0,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,29740,99999,201708010600,243.0,11.0,15.0,722.0,SCT,NaN,NaN,...,1014.8,NaN,1008.5,67.0,56.0,0.00,NaN,NaN,NaN,0.0
19,29740,99999,201708010620,220.0,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,29740,99999,201708010650,990.0,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,29740,99999,201708010700,251.0,15.0,20.0,722.0,CLR,NaN,NaN,...,1015.5,NaN,1009.2,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22,29740,99999,201708010720,230.0,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,29740,99999,201708010750,230.0,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,29740,99999,201708010800,236.0,15.0,22.0,722.0,SCT,NaN,NaN,...,1015.8,NaN,1009.6,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,29740,99999,201708010820,220.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,29740,99999,201708010850,220.0,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,29740,99999,201708010900,234.0,16.0,24.0,722.0,SCT,NaN,NaN,...,1015.8,NaN,1009.5,NaN,NaN,NaN,NaN,NaN,NaN,0.0
28,29740,99999,201708010920,220.0,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29740,99999,201708010950,220.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,29.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2132,29740,99999,201708311400,144.0,10.0,13.0,NaN,BKN,NaN,NaN,...,1009.1,NaN,1002.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2133,29740,99999,201708311420,120.0,8.0,NaN,120.0,NaN,NaN,NaN,...,NaN,29.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2134,29740,99999,201708311450,130.0,9.0,NaN,120.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2135,29740,99999,201708311500,152.0,9.0,13.0,NaN,OVC,NaN,NaN,...,1008.8,NaN,1002.5,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2136,29740,99999,201708311520,130.0,8.0,NaN,120.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137,29740,99999,201708311550,170.0,8.0,NaN,110.0,NaN,NaN,NaN,...,NaN,29.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2138,29740,99999,201708311600,195.0,8.0,13.0,67.0,BKN,NaN,NaN,...,1008.9,NaN,1002.6,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2139,29740,99999,201708311620,180.0,5.0,NaN,110.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,29740,99999,201708311650,990.0,2.0,NaN,110.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2141,29740,99999,201708311700,76.0,2.0,NaN,86.0,OVC,NaN,NaN,...,1008.5,NaN,1002.2,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2142,29740,99999,201708311720,70.0,5.0,NaN,80.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2143,29740,99999,201708311750,100.0,6.0,NaN,82.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2144,29740,99999,201708311800,133.0,8.0,NaN,NaN,OVC,NaN,NaN,...,1008.0,NaN,1001.7,66.0,59.0,0.01,NaN,NaN,NaN,0.0
2145,29740,99999,201708311820,140.0,9.0,NaN,60.0,NaN,NaN,NaN,...,NaN,29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2146,29740,99999,201708311850,160.0,11.0,NaN,50.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2147,29740,99999,201708311900,172.0,10.0,15.0,49.0,OVC,NaN,NaN,...,1007.8,NaN,1001.5,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2148,29740,99999,201708311920,150.0,9.0,NaN,50.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2149,29740,99999,201708311950,150.0,14.0,NaN,50.0,NaN,NaN,NaN,...,NaN,29.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2150,29740,99999,201708312000,160.0,16.0,21.0,49.0,OVC,NaN,NaN,...,1006.8,NaN,1000.4,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2151,29740,99999,201708312020,150.0,15.0,NaN,33.0,NaN,NaN,NaN,...,NaN,29.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152,29740,99999,201708312050,150.0,11.0,NaN,30.0,NaN,NaN,NaN,...,NaN,29.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2153,29740,99999,201708312100,168.0,11.0,15.0,NaN,OVC,NaN,NaN,...,1006.0,NaN,999.7,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2154,29740,99999,201708312120,160.0,10.0,NaN,30.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2155,29740,99999,201708312150,170.0,11.0,NaN,24.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2156,29740,99999,201708312200,193.0,14.0,19.0,25.0,OVC,NaN,NaN,...,1005.9,NaN,999.6,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2157,29740,99999,201708312220,170.0,14.0,NaN,23.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,29740,99999,201708312250,180.0,14.0,NaN,19.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,29740,99999,201708312300,195.0,15.0,20.0,19.0,OVC,NaN,NaN,...,1005.6,NaN,999.3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2160,29740,99999,201708312320,180.0,14.0,NaN,14.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2161,29740,99999,201708312350,180.0,11.0,NaN,9.0,NaN,NaN,NaN,...,NaN,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#checking the names of the columns
data.columns

Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [5]:
# list for useful, descarting the other columns
relevant_cols = ['YR--MODAHRMN', 'DIR' ,'SPD', 'GUS', 'TEMP', 'MAX' ,'MIN']
# perform the selection
data = data[relevant_cols]

In [6]:
#checkin the types of the dataframe
data.dtypes

YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
TEMP            float64
MAX             float64
MIN             float64
dtype: object

In [7]:
# creating a dictionary to rename specific columns to be more understable
name_conversion_dict = {'YR--MODAHRMN': 'TIME', 'SPD': 'SPEED', 'GUS': 'GUST' }
name_conversion_dict

{'YR--MODAHRMN': 'TIME', 'SPD': 'SPEED', 'GUS': 'GUST'}

In [8]:
# Renaming the columns
data = data.rename(columns = name_conversion_dict)

In [9]:
#transfroming the temp from Farenhein to celsius and saving into a new column
data['Celsius'] = ((data['TEMP']-32)/1.8)
data.head()

           TIME    DIR  SPEED  GUST  TEMP  MAX  MIN    Celsius
0  201708010000  238.0    5.0   NaN  58.0  NaN  NaN  14.444444
1  201708010020  210.0    6.0   NaN  59.0  NaN  NaN  15.000000
2  201708010050  210.0    5.0   NaN  59.0  NaN  NaN  15.000000
3  201708010100  230.0    5.0   NaN  58.0  NaN  NaN  14.444444
4  201708010120  220.0    5.0   NaN  59.0  NaN  NaN  15.000000

In [10]:
# convert the speed from mph to m/s
# note: m/s = mph * 0.44704
data['SPEED'] = data['SPEED']*0.44704
data['GUST'] = data['GUST']*0.44704

data.head()

           TIME    DIR    SPEED  GUST  TEMP  MAX  MIN    Celsius
0  201708010000  238.0  2.23520   NaN  58.0  NaN  NaN  14.444444
1  201708010020  210.0  2.68224   NaN  59.0  NaN  NaN  15.000000
2  201708010050  210.0  2.23520   NaN  59.0  NaN  NaN  15.000000
3  201708010100  230.0  2.23520   NaN  58.0  NaN  NaN  14.444444
4  201708010120  220.0  2.23520   NaN  59.0  NaN  NaN  15.000000

In [11]:
#passing int into string
data['TIME'] = data['TIME'].astype(str)

In [12]:
# Time column with time up to hours
data['TIME_dh']  = data['TIME'].str.slice(start=0,stop=10)
data.head()

           TIME    DIR    SPEED  GUST  TEMP  MAX  MIN    Celsius     TIME_dh
0  201708010000  238.0  2.23520   NaN  58.0  NaN  NaN  14.444444  2017080100
1  201708010020  210.0  2.68224   NaN  59.0  NaN  NaN  15.000000  2017080100
2  201708010050  210.0  2.23520   NaN  59.0  NaN  NaN  15.000000  2017080100
3  201708010100  230.0  2.23520   NaN  58.0  NaN  NaN  14.444444  2017080101
4  201708010120  220.0  2.23520   NaN  59.0  NaN  NaN  15.000000  2017080101

In [13]:
# create a new colummn with the hour as a numeric column
data['TIME_h'] = data['TIME'].str.slice(start=8,stop=10).astype(int)
data.head()

,TIME,DIR,SPEED,GUST,TEMP,MAX,MIN,Celsius,TIME_dh,TIME_h
0,201708010000,238.0,2.23520,NaN,58.0,NaN,NaN,14.444444,2017080100,0
1,201708010020,210.0,2.68224,NaN,59.0,NaN,NaN,15.000000,2017080100,0
2,201708010050,210.0,2.23520,NaN,59.0,NaN,NaN,15.000000,2017080100,0
3,201708010100,230.0,2.23520,NaN,58.0,NaN,NaN,14.444444,2017080101,1
4,201708010120,220.0,2.23520,NaN,59.0,NaN,NaN,15.000000,2017080101,1

## Grouping

In [14]:
# Group the data bases on the time up to hours
grouped = data.groupby('TIME_dh')

In [15]:
#get the mean of each group
aggr_data = grouped.mean()
#pass the index into a column and eliminate the columns we do not need
aggr_data = aggr_data.reset_index().drop(['MAX','MIN'], axis=1)
aggr_data

        TIME_dh         DIR     SPEED      GUST       TEMP    Celsius  TIME_h
0    2017080100  219.333333  2.384213       NaN  58.666667  14.814815       0
1    2017080101  233.333333  1.937173       NaN  58.000000  14.444444       1
2    2017080102  497.000000  1.490133       NaN  57.000000  13.888889       2
3    2017080103  239.000000  2.533227       NaN  58.333333  14.629630       3
4    2017080104  229.000000  3.725333       NaN  61.333333  16.296296       4
5    2017080105  233.000000  4.172373   6.70560  64.666667  18.148148       5
6    2017080106  484.333333  5.215467   6.70560  68.333333  20.185185       6
7    2017080107  237.000000  6.407573   8.94080  69.666667  20.925926       7
8    2017080108  225.333333  7.450667   9.83488  72.000000  22.222222       8
9    2017080109  224.666667  7.897707  10.72896  73.333333  22.962963       9
10   2017080110  210.666667  9.089813  12.51712  73.000000  22.777778      10
11   2017080111  212.000000  8.940800  11.62304  73.000000  22.777778      11
12   2017080112  205.666667  9.089813  12.51712  72.333333  22.407407      12
13   2017080113  221.666667  8.195733  11.17600  71.333333  21.851852      13
14   2017080114  218.000000  7.748693  11.62304  70.333333  21.296296      14
15   2017080115  214.000000  8.046720  10.28192  66.666667  19.259259      15
16   2017080116  217.333333  6.854613  11.17600  66.333333  19.074074      16
17   2017080117  215.000000  5.960533   7.59968  66.000000  18.888889      17
18   2017080118  213.000000  5.364480   7.59968  64.666667  18.148148      18
19   2017080119  223.666667  3.278293   5.81152  62.666667  17.037037      19
20   2017080120  202.000000  2.980267       NaN  62.666667  17.037037      20
21   2017080121  195.666667  3.278293   5.36448  63.000000  17.222222      21
22   2017080122  447.333333  2.533227       NaN  63.000000  17.222222      22
23   2017080123  129.000000  1.937173       NaN  63.000000  17.222222      23
24   2017080200  137.666667  3.278293       NaN  63.000000  17.222222       0
25   2017080201  136.666667  3.576320       NaN  63.000000  17.222222       1
26   2017080202  127.000000  3.725333   5.36448  63.000000  17.222222       2
27   2017080203  123.000000  3.874347   5.81152  61.666667  16.481481       3
28   2017080204  131.333333  4.470400   7.15264  61.000000  16.111111       4
29   2017080205  133.666667  3.874347   5.81152  60.000000  15.555556       5
..          ...         ...       ...       ...        ...        ...     ...
712  2017083018  201.000000  4.619413   5.81152  61.000000  16.111111      18
713  2017083019  207.333333  4.172373   5.81152  61.000000  16.111111      19
714  2017083020  206.333333  3.874347   5.36448  60.666667  15.925926      20
715  2017083021  203.000000  3.427307       NaN  60.666667  15.925926      21
716  2017083022  197.333333  4.023360   5.36448  61.000000  16.111111      22
717  2017083023  209.666667  2.980267       NaN  61.000000  16.111111      23
718  2017083100  197.333333  2.384213       NaN  61.000000  16.111111       0
719  2017083101  180.000000  1.639147       NaN  61.000000  16.111111       1
720  2017083102  170.666667  3.427307       NaN  61.000000  16.111111       2
721  2017083103  440.666667  2.682240       NaN  61.000000  16.111111       3
722  2017083104  419.333333  1.937173       NaN  59.000000  15.000000       4
723  2017083105  371.666667  1.788160       NaN  58.666667  14.814815       5
724  2017083106  391.333333  2.384213       NaN  60.333333  15.740741       6
725  2017083107  180.666667  3.725333   4.91744  61.000000  16.111111       7
726  2017083108  166.333333  4.470400   6.70560  61.333333  16.296296       8
727  2017083109  157.666667  3.725333   5.36448  62.666667  17.037037       9
728  2017083110  152.666667  5.513493   6.70560  63.000000  17.222222      10
729  2017083111  433.666667  4.023360   6.25856  63.000000  17.222222      11
730  2017083112  414.333333  3.278293       NaN  64.000000  17.777778      12
731  2017083113  127.333333  4.023360   4.91744  65.666667  18.703704      13
732  2017083114  131.333333  4.023360   5.81152  65.333333  18.518519      14
733  2017083115  150.666667  3.725333   5.81152  65.000000  18.333333      15
734  2017083116  455.000000  2.235200   5.81152  63.000000  17.222222      16
735  2017083117   82.000000  1.937173       NaN  61.333333  16.296296      17
736  2017083118  144.333333  4.172373       NaN  62.666667  17.037037      18
737  2017083119  157.333333  4.917440   6.70560  63.333333  17.407407      19
738  2017083120  153.333333  6.258560   9.38784  63.333333  17.407407      20
739  2017083121  166.000000  4.768427   6.70560  63.000000  17.222222      21
740  2017083122  181.000000  6.258560   8.49376  63.333333  17.407407      22
741  2017083123  185.000000  5.960533   8.94080  63.333333  17.407407      23

[742 rows x 7 columns]

## Finding outliers from the data
We define and outlier if the value is 2 times the standard deviation higher than the average.(SPEED column)

In [16]:
# calculate the standard deviation and average wind speed
std_wind = aggr_data['SPEED'].std()
avg_wind = aggr_data['SPEED'].mean()
print('The std. dev is: ', std_wind)
print('The average is: ', avg_wind)

The std. dev is:  2.1405899770297245
The average is:  4.1990832704402505

In [17]:
# calculate the upper threshold for an outlier
upper_treshold = avg_wind + (2*std_wind)
print("The upper treshold for an outlier is: ", upper_treshold)

The upper treshold for an outlier is:  8.4802632244997

Create a new column called 'Oulier' and fill it with True or False, accordingly

In [18]:
aggr_data['Outlier'] = aggr_data['SPEED'] > upper_treshold
aggr_data

,TIME_dh,DIR,SPEED,GUST,TEMP,Celsius,TIME_h,Outlier
0,2017080100,219.333333,2.384213,NaN,58.666667,14.814815,0,False
1,2017080101,233.333333,1.937173,NaN,58.000000,14.444444,1,False
2,2017080102,497.000000,1.490133,NaN,57.000000,13.888889,2,False
3,2017080103,239.000000,2.533227,NaN,58.333333,14.629630,3,False
4,2017080104,229.000000,3.725333,NaN,61.333333,16.296296,4,False
5,2017080105,233.000000,4.172373,6.70560,64.666667,18.148148,5,False
6,2017080106,484.333333,5.215467,6.70560,68.333333,20.185185,6,False
7,2017080107,237.000000,6.407573,8.94080,69.666667,20.925926,7,False
8,2017080108,225.333333,7.450667,9.83488,72.000000,22.222222,8,False
9,2017080109,224.666667,7.897707,10.72896,73.333333,22.962963,9,False
10,2017080110,210.666667,9.089813,12.51712,73.000000,22.777778,10,True
11,2017080111,212.000000,8.940800,11.62304,73.000000,22.777778,11,True
12,2017080112,205.666667,9.089813,12.51712,72.333333,22.407407,12,True
13,2017080113,221.666667,8.195733,11.17600,71.333333,21.851852,13,False
14,2017080114,218.000000,7.748693,11.62304,70.333333,21.296296,14,False
15,2017080115,214.000000,8.046720,10.28192,66.666667,19.259259,15,False
16,2017080116,217.333333,6.854613,11.17600,66.333333,19.074074,16,False
17,2017080117,215.000000,5.960533,7.59968,66.000000,18.888889,17,False
18,2017080118,213.000000,5.364480,7.59968,64.666667,18.148148,18,False
19,2017080119,223.666667,3.278293,5.81152,62.666667,17.037037,19,False
20,2017080120,202.000000,2.980267,NaN,62.666667,17.037037,20,False
21,2017080121,195.666667,3.278293,5.36448,63.000000,17.222222,21,False
22,2017080122,447.333333,2.533227,NaN,63.000000,17.222222,22,False
23,2017080123,129.000000,1.937173,NaN,63.000000,17.222222,23,False
24,2017080200,137.666667,3.278293,NaN,63.000000,17.222222,0,False
25,2017080201,136.666667,3.576320,NaN,63.000000,17.222222,1,False
26,2017080202,127.000000,3.725333,5.36448,63.000000,17.222222,2,False
27,2017080203,123.000000,3.874347,5.81152,61.666667,16.481481,3,False
28,2017080204,131.333333,4.470400,7.15264,61.000000,16.111111,4,False
29,2017080205,133.666667,3.874347,5.81152,60.000000,15.555556,5,False
...,...,...,...,...,...,...,...,...
712,2017083018,201.000000,4.619413,5.81152,61.000000,16.111111,18,False
713,2017083019,207.333333,4.172373,5.81152,61.000000,16.111111,19,False
714,2017083020,206.333333,3.874347,5.36448,60.666667,15.925926,20,False
715,2017083021,203.000000,3.427307,NaN,60.666667,15.925926,21,False
716,2017083022,197.333333,4.023360,5.36448,61.000000,16.111111,22,False
717,2017083023,209.666667,2.980267,NaN,61.000000,16.111111,23,False
718,2017083100,197.333333,2.384213,NaN,61.000000,16.111111,0,False
719,2017083101,180.000000,1.639147,NaN,61.000000,16.111111,1,False
720,2017083102,170.666667,3.427307,NaN,61.000000,16.111111,2,False
721,2017083103,440.666667,2.682240,NaN,61.000000,16.111111,3,False
722,2017083104,419.333333,1.937173,NaN,59.000000,15.000000,4,False
723,2017083105,371.666667,1.788160,NaN,58.666667,14.814815,5,False
724,2017083106,391.333333,2.384213,NaN,60.333333,15.740741,6,False
725,2017083107,180.666667,3.725333,4.91744,61.000000,16.111111,7,False
726,2017083108,166.333333,4.470400,6.70560,61.333333,16.296296,8,False
727,2017083109,157.666667,3.725333,5.36448,62.666667,17.037037,9,False
728,2017083110,152.666667,5.513493,6.70560,63.000000,17.222222,10,False
729,2017083111,433.666667,4.023360,6.25856,63.000000,17.222222,11,False
730,2017083112,414.333333,3.278293,NaN,64.000000,17.777778,12,False
731,2017083113,127.333333,4.023360,4.91744,65.666667,18.703704,13,False
732,2017083114,131.333333,4.023360,5.81152,65.333333,18.518519,14,False
733,2017083115,150.666667,3.725333,5.81152,65.000000,18.333333,15,False
734,2017083116,455.000000,2.235200,5.81152,63.000000,17.222222,16,False
735,2017083117,82.000000,1.937173,NaN,61.333333,16.296296,17,False
736,2017083118,144.333333,4.172373,NaN,62.666667,17.037037,18,False
737,2017083119,157.333333,4.917440,6.70560,63.333333,17.407407,19,False
738,2017083120,153.333333,6.258560,9.38784,63.333333,17.407407,20,False
739,2017083121,166.000000,4.768427,6.70560,63.000000,17.222222,21,False
740,2017083122,181.000000,6.258560,8.49376,63.333333,17.407407,22,False
741,2017083123,185.000000,5.960533,8.94080,63.333333,17.407407,23,False

In [19]:
# select rows that are outliers
storm = aggr_data.loc[aggr_data['Outlier'] == True]
storm

,TIME_dh,DIR,SPEED,GUST,TEMP,Celsius,TIME_h,Outlier
10,2017080110,210.666667,9.089813,12.51712,73.000000,22.777778,10,True
11,2017080111,212.000000,8.940800,11.62304,73.000000,22.777778,11,True
12,2017080112,205.666667,9.089813,12.51712,72.333333,22.407407,12,True
86,2017080414,228.666667,8.940800,12.96416,68.333333,20.185185,14,True
104,2017080508,204.333333,8.791787,11.17600,67.666667,19.814815,8,True
132,2017080612,237.666667,9.387840,13.85824,61.333333,16.296296,12,True
230,2017081014,217.000000,8.642773,12.51712,71.000000,21.666667,14,True
280,2017081216,700.666667,8.791787,26.82240,66.333333,19.074074,16,True
301,2017081313,210.000000,9.611360,NaN,69.000000,20.555556,13,True
302,2017081314,200.000000,8.493760,NaN,67.000000,19.444444,14,True
444,2017081914,195.666667,8.493760,10.72896,71.666667,22.037037,14,True
445,2017081915,204.666667,8.940800,12.51712,69.666667,20.925926,15,True
559,2017082409,328.666667,8.493760,13.41120,58.666667,14.814815,9,True
560,2017082410,329.333333,8.493760,13.85824,60.666667,15.925926,10,True
563,2017082413,329.666667,9.238827,13.41120,61.333333,16.296296,13,True
564,2017082414,550.000000,8.493760,NaN,59.333333,15.185185,14,True
686,2017082916,214.000000,9.089813,13.41120,63.000000,17.222222,16,True
687,2017082917,210.666667,8.791787,11.62304,62.666667,17.037037,17,True
704,2017083010,203.666667,8.493760,8.04672,65.333333,18.518519,10,True
705,2017083011,218.333333,8.940800,13.41120,66.000000,18.888889,11,True
706,2017083012,215.666667,10.579947,14.52880,64.333333,17.962963,12,True
707,2017083013,217.666667,9.089813,12.07008,64.333333,17.962963,13,True

In [20]:
storm['TIME_h'].value_counts()

14    5
13    3
12    3
10    3
16    2
11    2
17    1
15    1
9     1
8     1
Name: TIME_h, dtype: int64